/** ----------- FONTS ------------ **/
$font-family-base: 'Lato', sans-serif;
$headings-font-family: 'Orbitron', sans-serif;
$custom-subheadings-font-family: 'Oxygen', sans-serif;

/** --------- Z-INDEXES ---------- **/
$z-index-section-inactive: 10;
$z-index-section-active: 20;
$z-index-sidebar: 100;
$z-index-nav-tabs: 200;
$z-index-modal: 9000;
$z-index-notifications: 9500;
$z-index-dialogs:9800;
$z-index-activity-spinner: 9990;
$z-index-animated-cursor: 9995;
$z-index-loader: 9999;

/** ----------- LAYOUT ----------- **/
$sidebar-width: 280px;
$sidebar-shrink-width: 120px;
$nav-tabs-height: 55px;
$nav-tabs-chrome-offset: 20px;
$standard-border-radius: 10px;
$layout-blocks-spacing: 0.5rem;
$sidebar-min-breakpoint: md;

/** ----------- COLORS ----------- **/

/** COLORS - overriding bootstrap colors **/
$primary: #36ec65;
$secondary: #6c757d;
$dark: #111;
$light: #EEE;

/** COLORS - static **/
$loader-background-color: #111111;

:root {
    --mobile-layout-breakpoint: md;
}

/** COLORS - dark theme palette **/
:root {
    --theme-main: #111111;
    --theme-main-2: #1A1A1A;
    --theme-main-3: #1C1C1C;
    --theme-main-4: #1f1f1f;

    --theme-secondary: #EEEEEE;
    --theme-secondary-2: #D1D1D1;
    --theme-secondary-3: #bbbbbb;
    --theme-secondary-4: #9f9f9f;

    --theme-soft: #212121;
    --theme-soft-2: #252525;
    --theme-soft-3: #292929;

    --theme-highlight: #9dff8e;
    --theme-highlight-2: #b5ffa9;
    --theme-highlight-3: #d5fdcd;

    --theme-dark: #101010;
    --theme-dark-opacity: rgba(16, 16, 16, 0.2);
    --theme-muted: #6c757d;
    --theme-white: #EEE;

    --theme-bg: url('/images/css/bg-dark.png');
    --theme-bg-color: #1C1C1C;
    --theme-section-background: #1A1A1A;
    --theme-section-background-opacity: rgba(26, 26, 26, 0.86);
    --theme-tag-color: #181818;
    --theme-box-shadow: none;

    --theme-nav-background: #1A1A1A;
    --theme-nav-background-disabled: #181818;
    --theme-nav-secondary: #EEEEEE;
    --theme-nav-light: #1f2022;
    --theme-nav-highlight: #9dff8e;
    --theme-nav-selected: #232526;

    --theme-scrollbar-track: #111111;
    --theme-scrollbar-thumb: #32343a;
    --theme-chart-borders: #e7f6e3;

    --theme-danger: #730808;
}

/** COLORS - light theme palette **/
[data-theme="light"] {
    --theme-main: #ff9d5a;
    --theme-main-2: #e88b4b;
    --theme-main-3: #d47a3c;
    --theme-main-4: #be6c33;

    --theme-secondary: #3a241f;
    --theme-secondary-2: #4d2f2a;
    --theme-secondary-3: #633b36;
    --theme-secondary-4: #764540;

    --theme-soft: #ffd9bf;
    --theme-soft-2: #ffcfb4;
    --theme-soft-3: #ffc5a8;

    --theme-dark: #ffe8d7;
    --theme-dark-opacity: rgba(255, 232, 215, 0.2);
    --theme-muted: #99786c;
    --theme-white: #ffffff;

    --theme-highlight: #ff7828;
    --theme-highlight-2: #d66420;
    --theme-highlight-3: #b3541a;

    --theme-bg: url('/images/css/bg-blue.avif');
    --theme-bg-color: #ff9d5a;
    --theme-section-background: #ffe3d0;
    --theme-section-background-opacity: rgba(255, 227, 208, 0.9);
    --theme-tag-color: #fcbc99;
    --theme-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

    --theme-nav-background: #ffe3d0;
    --theme-nav-background-disabled: #ffdcc9;
    --theme-nav-secondary: #543f2f;
    --theme-nav-light: rgba(255, 220, 190, 0.5);
    --theme-nav-highlight: #ffd6be;
    --theme-nav-selected: #ff7828;

    --theme-scrollbar-track: #ffd9bf;
    --theme-scrollbar-thumb: #e88243;
    --theme-chart-borders: #fff0e3;

    --theme-danger: #ffb8b8;
}



.bg-dark {
    background-image: url('/images/css/bg-dark.png');
    background-size: cover;
    background-position: center;
}

.bg-green {
    background-image: url('/images/css/bg-green.png');
    background-size: cover;
    background-position: center;
}

.bg-blue {
    background-image: url('/images/css/bg-blue.avif');
    background-size: cover;
    background-position: center;
}