@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto";
}

.hovering {
  font-family: cursive;
  font-weight: bolder;
  letter-spacing: 10px;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 4px #95c11e;
}

.marquee_text {
  font-family: "poppins";
  font-weight: bolder;
  letter-spacing: 10px;
  white-space: nowrap;
  color: #000;
  -webkit-text-stroke: 1px #fff;
}

.marquee_text:hover {
  -webkit-text-stroke: 0px;
  -webkit-text-fill-color: #95c11e;
}
