@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", "Roboto";
}

.fontchange {
  font-family: "Cinzel";
}

.hovering {
  font-family: cursive;
  font-weight: bolder;
  letter-spacing: 10px;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 4px #95c11e;
}

.marquee_text {
  font-family: "poppins";
  font-weight: bolder;
  letter-spacing: 10px;
  white-space: nowrap;
  color: #000;
  -webkit-text-stroke: 1px #fff;
}

.marquee_text:hover {
  -webkit-text-stroke: 0px;
  -webkit-text-fill-color: #95c11e;
}

.edu_animate::before {
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  left: 37%;
  position: absolute;
  border-bottom: 4px solid #a1d11f79;
}

.edu_animate:hover::before {
  animation: line 0.5s ease-in-out forwards;
}
@keyframes line {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 0%;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0%;
  }
}

.hover_animate:hover::after {
  content: "";
  width: 100%;
  height: 4%;
  border-bottom: 3px solid #95c11e;
  mix-blend-mode: difference;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: hoveranimation 0.4s forwards;
}

@keyframes hoveranimation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
